@media screen and (max-width: 1279px) {
  .screen-block {
    display: none;
  }
  .mobile-block, .mobile-br {
    display: block;
    clear: both;
  }
  div.header__img-1 {   
    top: 10px;
    left: 158px;    
    height: 130px;
    width: 109.5px;
    background: url(../../img/cards-img/m-card-1.png) no-repeat;
    background-size: cover;
  }
  .header__img-2 {
    position: absolute;
    top: 1px;
    left: 46px;
    width: 120px;
    height: 143px;
    background: url(../../img/cards-img/m-card-2.png) no-repeat;
    background-size: cover;
  }
  .header__img-3 {
    position: absolute;
    top: 66px;
    left: 148px;
    z-index: 2;
    height: 221.5px;
    width: 199.5px;
    background: url(../../img/cards-img/m-card-3.png) no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  .header__img-4 {
    position: absolute;
    top: 98px;
    height: 157.5px;
    left: -57px;
    width: 153px;
    background: url(../../img/cards-img/m-card-4.png) no-repeat;
    background-size: cover;
  }
  .header__main-block {
    float: right;
    margin: 120px 19px 0 0;
    height: 643px;
    padding: 0 0 0 0;
    position: relative;
    width: 337px;
    background: url(../../img/cards-img/m-bg-1.png) no-repeat;
    background-size: cover;
  }
  .header__logo {
    padding: 145px 0 0 31px;
    position: relative;
    z-index: 10;
  }
  .logo-img-1 {
    width: 275px;
    height: 48px;
  }
  .logo-img-2 {
    padding-top: 26px;
    padding-left: 74px;
    width: 133px;
    height: 29px;
  }
  .header__menu {
    display: none;
  }
  .header__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    width: 200px;
    margin: 40px auto 0;
  }
  .header__description {
    position: absolute;
    bottom: 68px;
    font: 20px/22px globerlight;
    left: 83px;
    letter-spacing: 0px;
  }
  .header__condisions-item {
    font: 23px/14px globerlight;
  }
  .header__condisions {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    position: absolute;
    bottom: 211px;
    left: 48px;
  }
  .header__condisions-item: {
    padding-right: 0px;
  }
  .header__condisions-item:last-child {
    padding-right: 64px;
  }
  a.header__button-presentation::after {
    left: 67px;
    border: 7px solid transparent;
    border-left: 9px solid white;
  }
  a.header__button-presentation {
    margin: 0 0 12px 0;
    padding: 9px 0px 5px 48px;
    font: 17px globerregular;
    letter-spacing: 0.4px;
  }
  a.header__button-buy {
    font: 17px globerbold;
    color: #021AFD;
    padding: 7px 0 4px 0;
    text-align: center;
    letter-spacing: 0.4px;
  }
  h2.header__text-block-header {
    font: 23px glober_regularregular;
    letter-spacing: 0.2px;
  }
  p.header__text-block-text {
    padding: 32px 0 0 0;
    font: 15px/26.5px globerlight;
    color: rgba(255,255,255,0.5);
  }
  .header__text-block-item {
    display: block;
    text-align: center;
    padding: 52px 35px 0;
    letter-spacing: 0.6px;
  }
  .header__text-block {
    clear: right;
    padding-top: 76px;
  }
  .header__text-block-item:first-child {
    padding: 0 45px;
    letter-spacing: 0.2px;
  }
  p.header__text-block-text {
    padding: 8px 0 0 0;
    font: 15px/26.5px globerlight;
    color: rgba(255,255,255,0.5);
    letter-spacing: -0.3px;
  }
  header.header {
    height: 1240px;
    background: -webkit-radial-gradient(700px, #284A79 0, black 100%);
    background: radial-gradient(700px, #284A79 0, black 100%);
    background-size: cover;
    background-position: 20px -20px;
  }
  .how-to-play__container {
    margin: 0 auto;
    width: 100%;
  }
  .how-to-play__bg {
    background: -webkit-radial-gradient(225px, #21559D 0, black 100%) no-repeat;
    background: radial-gradient(225px, #21559D 0, black 100%) no-repeat;
    background: radial-gradient(225px, #21559D 0, black 100%) no-repeat;
    background-position: center top 91px;
    overflow: hidden;
  }
  p.how-to-play__upper-text {
    font-size: 19px;
    letter-spacing: 0;
    padding: 51px 8px 36px 0;
    margin: 0;
  }
  h2.how-to-play__header {
    font-size: 33px;
    letter-spacing: 1px;
    line-height: 34px;
    margin: 0 auto;
    width: 75%;
  }
  span.how-to-play__header-span {
    font-family: globerbold;
    color: white;
  }
  p.how-to-play__rules {
    float: none;
    display: inline-block;
    clear: none;
    margin-right: 0;
    font: 18px globerbold;
    padding: 25px 25px 1px 33px;
    color: #2836A2;
  }
  .how-to-play__rules + .how-to-play__rules {
    padding: 0 0 0 44px;
  }
  img.how-to-play__square {
    display: none;
  }
  .how-to-play__download-block {
    display: none;
  }
  .how-to-play__video-block {
    position: relative;
    top: 27px;
    left: 0;
    width: 100%;
  }
  .how-to-play__iframe {
    width: 100%;
    height: auto;
    min-height: 215px;
  }
  .how-to-play {
    height: 491px;
  }
  .header__images {
    position: relative;
    margin-left: 28px;
  }
  .m-rules {
    background-color: white;
    height: 275px;
    color: black;
    text-align: center;
  }
  .m-rules__header {
    font: 33px globerbold;
    padding: 87px 0 32px;
  }
  .m-rules__link {
    text-transform: uppercase;
    font: 17px globerbold;
    letter-spacing: 0.72px;
    padding: 13px 76px 12px 86px;
    background-color: #3346D2;
    color: white;
    border-radius: 26px;
  }
  .m-print-and-pay {
    height: 270px;
    text-align: center;
  }
  .m-print-and-pay__link {
    text-transform: uppercase;
    font: 17px globerbold;
    letter-spacing: 0.4px;
    padding: 15px 33px 12px 14px;
    background-color: white;
    color: black;
    border-radius: 26px;
    display: block;
    margin: 4px auto 0;
    width: 220px;
  }
  .m-print-and-pay__link:after {
    content: "";
    background: url(../../img/cards-img/m-download-img.png);
    width: 19px;
    height: 17px;
    position: absolute;
    background-size: cover;
    margin: 1px 0 0 9px;
  }
  .m-print-and-pay__header {
    font: 33px globerbold;
    padding: 66px 0 13px;
  }
  .m-print-and-pay__bottom-text {
    font: 15px globerlight;
    letter-spacing: -0.23px;
    margin: 7px 0 0 0;
  }
  .game-app__text {
    padding: 40px 0 0 0;
    width: 100%;
    display: inline-block;
    text-align: left;
  }
  h2.Game-app__header {
    font: 33px globerbold;
    letter-spacing: 0;
    padding: 19px 0 23px 37px;
  }
  p.game-app__list-item {
    font: 15px/32px globerlight;
    padding: 0 0 0 37px;
    letter-spacing: -0.3px;
  }
  .game-app__img-block {
    position: relative;
    width: 100%;
  }
  img.game-app__img {
    display: none;
  }
  .game-app__links {
    display: inline-block;
    float: left;
    padding: 88px 0 0 0;
  }
  img.game-app__download-link {
    display: block;
    margin: 0 37px 23px;
  }
  .game-app {
    background: -webkit-radial-gradient(371px, #1650A2 0, black 100%);  
    background: radial-gradient(371px, #1650A2 0, black 100%);
    height: 640px;
    background-size: cover;
    background-color: white;
  }
  .game-app__bottom-white-bg {
    height: 112px;
  }
  .team-and-stream {
    padding: 0px 0px 0;
  }
  .container.team-and-stream__container {
    padding: 0 0px;
    width: 100%;
  }
  h2.team-and-stream__header {
    font: 19px globerbold;
    letter-spacing: 0px;
    padding: 21px 0 0 0;
  }
  .team-and-stream__block {
    display: block;
    padding: 0;
  }
  h3.team-and-stream__block-header {
    font: 33px globerbold;
    padding: 29px 0px 23px;
    letter-spacing: 0;
  }
  .team-and-stream__block-img {
    width: 100%;
  }
  .team-and-stream__block-text br {
    display: none;
  }
  p.team-and-stream__block-text {
    letter-spacing: -0.35px;
    font: 15px/23.5px glober_regularregular;
    padding: 25px 2px 28px 0;
    width: 91%;
    margin: 0 auto;
  }
  .team-and-stream__block:last-child {
    padding: 0;
    height: 474px;
  }
  .online-translation__video-block {
    display: inline-block;
    padding: 20px 0 0 20px;
    width: 335px;
  }
  p.online-translation__text-online {
    letter-spacing: 0.2px;
    margin: 26px 0 0 1px;
  }
  h3.online-translation__header {
    font: 23px/32px glober_regularregular;
    text-transform: uppercase;
    margin: 8px 0 26px 1px;
    padding: 0;
    width: 312px;
  }
  .online-translation__iframe {
    width: 100%;
    height: auto;
    min-height: 190px;
    margin: 0;
  }
  .online-translation__date-block {
    padding: 13px 0px 0 11px;
  }
  img.date-block-1__logo-img {
    margin: 32px 0 22px 0;
  }
  .online-translation__date-block-1, .online-translation__date-block-2 {
    width: 167.5px;
  }
  .online-translation__date-block-2 {
    margin-left: 0;
  }
  .online-translation {
    height: 723px;
    background-position: 0 -100px;  
  }
  .date-block-1__border-block {
    background: url(../../img/cards-img/m-square-1.png) no-repeat;
    height: 168px;
    margin: 0 0 0 6px;
    width: 168px;
    background-size: cover;
  }
  img.date-block-2__logo-img {
    margin-bottom: 16px;
  }
  .date-block-2__border-block {
    background: url(../../img/cards-img/m-square-2.png) no-repeat;
    height: 167.5px;
    margin: 0 0 0 3px;
    background-size: cover;
  }
  .date-block-1__date {
    padding: 33px 0 0 21px;
    font: 17.5px/20px globerbold;
    width: 76px;
    letter-spacing: -0.5px;
  }
  span.date-block-1__month {
    font: inherit;
    letter-spacing: inherit;
    display: inline;
  }
  span.date-block-1__day, span.date-block-1__time {
    font: inherit;
    letter-spacing: inherit;
  }
  span.date-block-1__time {
    padding-left: 0;
  }
  .date-block-1__name {
    font: 17.5px/20px globerbold;
    text-align: left;
    text-transform: uppercase;
    padding: 20px 0px 0 19px;
    letter-spacing: -0.3px;
  }
  .date-block-2__date {
    padding: 52px 0 0 20px;
    font: 17.5px/20px globerbold;
    width: 76px;
    letter-spacing: 0.5px;
    text-align: left;
  }
  .date-block-2__name {
    text-transform: uppercase;
    font: 17.5px globerbold;
    letter-spacing: 0px;
    padding: 19px 0 0 18px;
    text-align: left;
  }
  .best-moment__container.container {
    width: 375px;
  }
  h2.best-moment__header {
    padding: 51px 0 48px 0;
    font: 19px Globerbold;
    color: #CCCCCC;
    letter-spacing: 0;
  }
  .best-moment__column iframe {
    height: 187px;
    width: 338px;
  }
  .best-moment__column {
    padding: 0 14px 0 18px;
  }
  h3.best-moment__video-name {
    color: #32315E;
    font: 19px/24px globerbold;
    letter-spacing: 0.06px;
    padding: 24px 0 0 1px;
    width: 100%;
  }
  p.best-moment__video-date {
    padding: 6px 0 55px 2px;
    font: 15px glober_regularregular;
    letter-spacing: -0.3px;
  }
  .best-moment {
    height: 1116px;
    padding: 0;
  }
  h2.events__header {
    font: 33px globerregular;
    text-align: center;
    padding: 46px 0 10px 0;
    letter-spacing: 0px;
    margin-right: 0px;
  }
  .events__block.events__block--1 {
    height: 593px;
    position: relative;
  }
  .events__block--1 h3.events__text-header {
    font: 19px glober_regularregular;
    letter-spacing: 0;
    position: absolute;
    top: 19px;
    left: 0;
    right: 0;
    text-align: center;
  }
  img.events__img {
    display: inline-block;
    padding: 0 0 0 0;
    margin: 60px 0 0 0px;
    width: 100%;
    min-height: 206px;
    height: auto;
  }
  p.events__description {
    font: 15px/21.5px globerlightru;
    padding: 10px 0 0 0;
    letter-spacing: -0.3px;
    color: rgba(78, 78, 78, 0.85);
  }
  .events__text-block {
    display: inline-block;
    width: 91%;
    margin: 16px 0 0 20px;
    vertical-align: top;
  }
  .events__date {
    padding: 20px 0 0 39px;
  }
  .events__date-text {
    display: inline-block;
    font: 18px/27px globerbold;
    vertical-align: top;
    margin: 0px 0 0 20px;
    letter-spacing: -0.2px;
  }
  span.events__adress-text-span {
    display: block;
    font: 15px globerlight;
  }
  .events__adress-text {
    padding: 0 0 0 20px;
    display: inline-block;
    margin: 1px 0px 0px 0px;
    font: 18px/33px globerbold;
    letter-spacing: -0.2px;
    width: 240px;
  }
  .events__adress {    
   padding: 0px 0 25px 40px;
   height: 80px;
 }
 .events__button {
   font: 17px globerbold;
 }
 .events__block--1 .events__button--tickets {
  padding: 6px 27px 6px 27px;
  letter-spacing: 0.2px;
}
.events__button--facebook {
  padding: 5px 13px 5px 15px;
  margin: 0 0 0 11px;
  letter-spacing: 0.2px;
}
.events {
  background-size: auto 688px;
}
.events__button--tickets {
  width: 107px;
  padding: 6px 27px 6px 27px;
  letter-spacing: 0.2px;
  text-align: center;
}
.events__block--2 {
  padding: 33px 0 0px 0;
}
h3.events__text-header {
  font: 19px globerbold;
  letter-spacing: 0;
  position: absolute;
  top: 47px;
  left: 0;
  right: 0;
  text-align: center;
}
.events__block--3 {
  padding: 34px 0 154px 0;
  position: relative;
  margin: 49px 0 0 0;
}
img.other__square {
  display: none;
}
.container.contaiber-other {
  padding: 0;
  width: 375px;
}
img.other__product-img {
  position: absolute;
  right: 0;
  left: 19px;
  top: 139px;
  z-index: 5;
  width: 339px;
  height: auto;
}
.other {
  padding: 0;
  background: -webkit-radial-gradient(321px, #284A79 0, black 100%);
  background: radial-gradient(321px, #284A79 0, black 100%);
  height: 840px;
  background-size: cover;
  background-position: left -26px top -105px;
  background-color: black;
}
.other__info-block {
  padding: 0;
  width: 100%;
  position: relative;
  z-index: 2;
}
.other__bottom-white-bg {
  position: absolute;
  bottom: 0;
  height: 374px;
  width: 100%;
  background-color: white;
  z-index: 0;
}
h2.product__goods-name {
  font: 33px globerbold;
  padding: 27px 0 0 0px;
  text-align: center;
  text-transform: capitalize;
  position: relative;
  z-index: 10;
}
.other__slider-list {
  margin: 311px auto 0 auto;
  height: 20px;
  display: table;
}
.other__slider-list-item {
  width: 27px;
  height: 15px;
  display: inline-block;
  text-align: center;
}
.other__slider-link {
  border: 1px solid rgba(181,181,181,0.47);
  height: 8px;
  width: 8px;
  display: block;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
}
.other__slider-link:hover {
  border: 1px solid #3346D2;
  background-color: #3346D2;
}
.other__slider-link--active {
  border: 1px solid #3346D2;
  background-color: #3346D2;
}
.other__product-sum {
  margin: 57px auto 0;
  display: block;
  width: 337px;
  font: 17px globerbold;
  text-transform: uppercase;
  color: black;
  border: 1px solid gray;
  height: 48px;
  border-radius: 30px;
}
.other__product-value {
  border: 2px solid transparent;
  display: inline-block;
  margin: -1px 0 0 -1px;
  border-radius: 30px;
  padding: 13px 64px 9px 60px;
  cursor: pointer;
}
.other__product-value--active {
  border: 2px solid #3346D2;
  color: #3346D2;
}
.other__product-value.other__product-value--2 {
  margin: -1px 0px 0 -17px;
  padding: 13px 56px 9px 63px;
  position: absolute;
  color: black;
}
p.other__product-description:before {
  display: none;
}
.other__product-price {
  font: 23px glober_regularregular;
  margin: 49px 0 0 25px;
  letter-spacing: 0.5px;
  color: black;
}
a.other__button-buy {
  margin: -113px 0 0 0;
  right: 16px;
  padding: 12px 63px 3px 65px;
  background: #152BFE;
  font: 17px glober_regularregular;
  letter-spacing: 0.5px;
  position: absolute;
}
.other__shipping {
  font: 14px globerbold;
  padding: 31px 0 0 23px;
  word-spacing: 4px;
}
span.other__product-span {
  display: block;
  font-size: 17px;
  padding: 3px 0 0 0;
}
p.other__product-description {
  color: black;
  font: 15px/21.5px globerlight;
  width: auto;
  padding: 0 0 0 22px;
  margin: 8px 0 0 0;
  letter-spacing: -0.3px;
}
.blog__header--icon {
  margin: 0 5px -7px -21px;
}
.blog__header--text {
  font: 19px globerbold;
  letter-spacing: 0;
}
.blog__header {
  padding-top: 29px;
  width: auto;
}
.blog__item:after, .blog__item:before {
  display: none;
}
.blog__img {
  width: 100%;
  height: 144px;
}
.blog__img--img1 {
  background-image: url(../../img/cards-img/blog1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.blog__item.blog__item--item1 {
  margin: 21px auto 0;
  display: inline-block;
  width: 100%;
}
.blog__date {
  margin: 16px 0 0 20px;
  text-transform: uppercase;
  color: #3346D2;
  font: 14px globerbold;
}
.blog__post-header {
  margin: 4px 0 0 20px;
  font: 20px globerbold;
  color: #32315E;
  padding-right: 10px;
  line-height: 27px;
  letter-spacing: -0.3px;
  width: 260px;
}
.blog__paragraph {
  width: 330px;
  font: 14px/20px glober_regularregular;
  color: #A9A7A7;
  margin: 16px 0 0 20px;
}
.blog {
  height: 528px;
}
.blog__item {
  display: none;
}
.corporate__wrapp {
  width: 375px;
  height: inherit;
}
.corporate__header {
  font: 19px globerbold;
  padding-top: 54px;
  color: #31479F;
  letter-spacing: 0;
  margin: 0;
}
.corporate__cards {
  width: 100%;
  height: auto;
}
.corporate__card {
  display: none;
}
.corporate__card--card1 {
  position: absolute;
  z-index: 1;
  top: 81px;
  left: 73px;
  background: url(../../img/cards-img/m-cor-card-1.png);
  height: 259px;
  width: 255px;
  background-size: cover;
}
.corporate__card--card2 {
  position: absolute;
  z-index: 2;
  top: 60px;
  background: url(../../img/cards-img/m-cor-card-2.png) no-repeat;
  left: 116px;
  width: 233.5px;
  height: 257.5px;
  background-size: cover;
}
.corporate__card--card3 {
  position: absolute;
  z-index: 3;
  top: 50px;
  left: 171px;
  background: url(../../img/cards-img/m-cor-card-3.png) no-repeat;
  width: 200px;
  height: 245px;
  background-size: cover;
}
.corporate__main-text {
  width: auto;
  font: 25px/35px globerbold;
  letter-spacing: 0;
  color: #fff;
  padding: 245px 0 0 18px;
}
.corporate__paragraph {
  width: 256px;
  font: 15px/21.8px globerlight;
  color: #fff;
  margin: 34px 0 0 17px;
  letter-spacing: -0.32px;
}
.corporate__order {
  width: 208px;
  height: 35px;
  background-color: #021AFD;
  line-height: 35px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  border: none;
  border-radius: 25px;
  margin: 33px 0 0 17px;
  color: #fff;
  font: 17px glober_regularregular;
  padding: 5px 2px 0 2px;
}
.corporate {
  height: 720px;
}
.follow__header {
  font: 19px globerbold;
  padding: 0;
  margin: 72px 0 24px 0;
}
.icons__item {
  margin-right: 44px;
}
.follow__list {
  width: 221px;
}
.follow {
  height: 170px;
}


/* delete */
.footer {
  margin-top: 50px;
}
/* /delete */

.footer__main-text {
  margin: 57px 0 0px -13px;
  background: url(../../img/cards-img/m-attracti-logo.png) no-repeat;
  background-size: cover;
  height: 21.5px;
  width: 242.5px;
}
.footer__find-text {
  display: none;
}
.sw {
  width: 61px;
  height: 10px;
  margin: 28px 3px -13px 19px;
  background-image: url(../../img/cards-img/m-Switzerland.png);
}
.uk {
  width: 40px;
  height: 10px;
  background-image: url(../../img/cards-img/m-Ukraine.png);
  margin: 28px 0 0 52px;
  vertical-align: top;
}
.footer__btn--facebook {
  margin: 0 0 0 0;
  position: absolute;
  top: 187px;
  left: 50px;
  z-index: 5;
  height: 44px;
  border: 1px solid rgba(255,255,255,0.24);
  width: 281px;
}
.footer__icon--facebook {
  margin: 10px 0 0 18px;
}
span.btn__text-img-fb {
  margin: 0px 0 -4px -21px;
}   
.footer__btn.footer__btn--twitter {
  margin: 0 0 0 0;
  position: absolute;
  top: 246px;
  right: 44px;
  height: 44px;
  border: 1px solid rgba(255,255,255,0.24);
  width: 281px;
}
.footer__icon--twitter {
  margin: 12px 0 0 12px;
}
span.btn__text-img-tw {
  margin: 12px 0 0 -33px;
}
.footer__item {
  height: 300px;
}
.footer__lang, .footer__privacy {
  display: none;
}
.footer {
  height: 763px;
}
.footer__main-icon {
  top: 360px;
  height: 300px;
  width: 252px;
}
.m-footer__lang-label {
  font: 12px globerlight;
  padding: 6px 0 0 21px;
  display: inline-block;
}
.m-footer__lang-block {
  padding-top: 374px;
}
.m-lang-select-list {
  float: right;
  background: transparent;
  color: white;
  border: none;
  font: 14px globerbold;
  text-transform: uppercase;
  margin: 7px 16px 0 0;
  padding: 0 0 0 0;
  -webkit-appearance: none;
  background: url(../../img/cards-img/lang-arrow.png) no-repeat;
  background-size: 7.5px 13.5px;
  width: 43px;
  letter-spacing: 2px;
  background-position: right 3px;
}
.m-lang-select-list:focus {
  outline: none;
}
.m-footer__links {
  padding: 35px 16px 0 23px;
}
.m-footer__link-item {
  font: 14px globerbold;
  text-transform: uppercase;
}
.m-footer__link-item--2 {
  float: right;
}
.mobile-blockm-iphone-img {
  background: url(../../img/cards-img/IPhone.png) no-repeat;
  height: 100%;
  position: absolute;
  width: 100%;
  background-size: 628px 506px;
  background-position-x: calc( 50% + 142px );
  background-position-y: 144px;
}
.rules__header-menu {
  display: none;
}
.rules__bg-square-img {
  display: none;
}
.rules__header-logo {
  width: 68px;
  height: 26px;
  background: url(../../img/cards-img/m-rules-logo.png) no-repeat;
  background-size: cover;
  position: relative;
  top: 20px;
  float: right;
  right: 20px;
}
.rules__header {
  padding: 0;
  position: relative;
  height: 60px;
}
.m-rules-header-bg {
  height: 60px;
  position: absolute;
  width: 100%;
  background-color: #0E1929;
}
h2.rules__text-header {
  position: absolute;
  top: 23px;
  font-size: 19px;
  letter-spacing: 0;   
  padding: 0;
  left: 116px;
}
.mobile-block.m-rules-back-btn {
  position: absolute;
  background: url(../../img/cards-img/m-back-btn.png) no-repeat;
  height: 23px;
  width: 11.5px;
  background-size: cover;
  top: 18px;
  left: 19px;
}
/* using flex */
.rules__text-block {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.rules__conditions {
  padding: 35px 0 0 0;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
.rules__cards {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}
.rules__play-rules {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  font-size: 15px;
  padding: 50px 14px 0 14px;
}
/* /using flex */
.conditions--column-3 {
  width: 103px;
}
.conditions--column-3.conditions-cell--value {
  padding: 17px 0 0 20px;
  width: auto;
}
.conditions--column-2 {
  width: 150px;
  text-align: center;
  padding-right: 21px;
}
.conditions--column-2.conditions-cell--value {
  width: auto;
  padding-right: 20px;
}
.conditions--column-1 {
  width: 134px;
  text-align: center;
  padding-left: 6px;
}
.conditions--column-1.conditions-cell--value {
  padding-left: 6px;
}
h3.rules__cards-header {
  font: 18px globerboldru;
  color: #3346D2;    
  letter-spacing: -0.2px;
  padding: 0px 0 18px 0;
}
.rules__cards {
  font: 15px globerlightru;
}
.rules__cards {
  font: 15px globerlightru;
  width: auto;
  padding: 44px 0 0 14px;
}
li.rules__card-item {
  width: 300px;
  padding: 2px 0 10px 42px;
}
li.rules__card-item br {
  display: none;
}
.rules__list-item:before {
  border: 3px solid #3346D2;
  margin: 5px 0px 0 -20px;
}
a.rules__download-btn {
  border: none;
  padding: 19px 0px 11px 30px;
  margin: 20px 100px 0px 41px;
  display: block;
  font: 17px globersemibold;
  letter-spacing: 0.3px;
  border-radius: 27px;
  background-color: #3346D2;
  text-transform: uppercase;
  width: 237px;
}
img.rules__download-img {
  margin: -4px 0px 0 12px;
}
.rules__block-header {
  color: white;
  font: 19px globersemibold;
}
p.rules__before-game-header {
  font-size: 18px;
  color: white;
  width: 260px;
  padding: 0 0 20px 0px;
  line-height: 20px;
}
li.rules__before-game-item:before {
  margin: 5px 0px 0 -21px;
  border: 3px solid #3346D2;
}
li.rules__before-game-item {
  padding-left: 43px;
  padding-bottom: 1px;
  font-size: 15px;
  line-height: 22px;
  width: 260px;
}
h3.rules__about-cards-header {
  padding: 44px 0 6px 1px;
}
p.rules__about-cards-text {
  line-height: 20px;
  width: 335px;
  padding: 4px 0 20px 0;
}
span.rules__about-cards-span {
  padding: 12px 0 17px 0;
}
li.rules__about-cards-item {
  padding: 0px 0 0 41px;
  width: 295px;
  line-height: 22px;
}
li.rules__about-cards-item:first-letter {
  text-transform: uppercase;
}
h3.rules__game-mech-header {
  padding: 46px 0 13px 0px;
}
.rules__list-item {
  padding: 1px 0px 8px 40px;
  line-height: 22px;
  width: 290px;
}
h3.rules__count-header {
  padding: 38px 0 14px 0px;
  letter-spacing: 0.4px;
}
span.rules__count-span {
  display: inline-block;
  padding: 2px 0 17px 2px;
  font: 18px globersemibold;
  color: #3346D2;
  width: 280px;
}
.rules {
  height: auto;
  background: -webkit-radial-gradient(310px, #284A79 0, black 100%);
  background: radial-gradient(310px, #284A79 0, black 100%); 
  background-size: 100% 1600px;
  background-repeat-x: no-repeat;
  background-position-y: -248px;
}
li.rules__count-item {
  width: 290px;
}
p.rules__won-back-text {
  padding: 35px 0 18px 0;
  font-family: globerlightru;
  width: 315px;
  line-height: 21.5px;
}
li.rules__won-back-item {
  padding: 1px 0px 8px 40px;
  line-height: 22px;
  width: 290px;
}
p.rules__else-text {
  padding: 9px 0 19px 2px;
  font-family: globerlightru;
  line-height: 22px;
  width: 330px;
}
.rules__m-br {
  display: block;
  padding: 9px 0 0;
}
span.rules__else-text-span {
  line-height: 22px;
  padding: 9px 0 0 0;
}
.rules__else-text-span br{
  display: none;
}
p.rules__else-good-game {
  line-height: 22px;
  padding-bottom: 68px;
}
.rules__count:before, .rules__about-cards:before, .rules__game-mech:before {
  top: 25px;  
  content: "";
  position: absolute;
  bottom: -3px;
  width: 343px;
  height: 9px;
  background-image: -webkit-linear-gradient( 45deg , rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0.1) 74%, #0019FF ); /* For Chrome and Safari */ /* For old Fx (3.6 to 15) */ /* For pre-releases of IE 10*/ /* For old Opera (11.1 to 12.0) */
  background-image:         linear-gradient( 45deg , rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0.1) 74%, #0019FF ); /* Standard syntax; must be last */
}
.rules__count, .rules__about-cards, .rules__game-mech {
  position: relative;
}
.rules__count:after, .rules__about-cards:after, .rules__game-mech:after {
  top: 33px;
  right: 222px;
  content: "";
  position: absolute;
  bottom: -3px;
  width: 9px;
  height: 204px;
  background-image: -webkit-linear-gradient( 45deg , rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0.1) 74%, #0019FF ); /* For Chrome and Safari */ /* For old Fx (3.6 to 15) */ /* For pre-releases of IE 10*/ /* For old Opera (11.1 to 12.0) */
  background-image:         linear-gradient( 45deg , rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0.1) 74%, #0019FF ); /* Standard syntax; must be last */
}







}
@media screen and (max-width: 374px) {
  .header__container {
    width: 100%;
  }
  .header__main-block {
    background-size: 300px 643px;
    background-position-x: calc( 0% + 10px );    
    margin: 120px auto 0;
    width: 320px;
    float: none;
  }
  .logo-img-1 {
    width: 260px;
    height: 48px;
  }
  .logo-img-2 {
    width: 119px;
    height: 26px;
  }
  .header__logo {
    margin: 0 auto;
    width: 260px;
  }
  a.header__button-presentation::after {
    left: 60px;
  }
  .header__condisions-item:last-child {
    padding-right: 44px;
  }
  p.how-to-play__rules {
    padding: 25px 5px 1px 13px;
  }
  .online-translation__video-block {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  p.online-translation__text-online {
    margin: 26px 0 0 20px;
  }
  h3.online-translation__header {
    margin: 20px 0 26px 19px;
    padding: 0;
    width: 280px;
  }
  .online-translation__iframe {
    width: 280px;
    height: 161px;
    min-height: 161px;
    margin: 0 20px;
  }
  .best-moment__column iframe {
    height: 161px;
    width: 287px;
  }
  .best-moment__container.container {
    width: 320px;
  }
  .best-moment {
    height: auto;
  }
  .online-translation__date-block {
    padding: 13px 0px 0 10px;
  }
  .online-translation__date-block-1, .online-translation__date-block-2 {
    width: 150px;
    height: auto;
  }
  .date-block-1__border-block {
    height: 150px;
    margin: 0 0 0 0px;
    width: 150px;
  }
  .date-block-2__border-block {
    height: 150px;
    margin: 0 0 0 -4px;
    width: 150px;
  }
  .date-block-1__logo-img {
    margin-left: -15px;
  }
  .online-translation {
    height: 620px;
  }
  .how-to-play__iframe {
    min-height: 180px;
  }
  .how-to-play {
    height: 441px;  
  }
  .events__block--1 .events__button--tickets {
    padding: 6px 20px 6px;
  }
  .events__button {
    font: 15px globerbold;
  }
  .events__button--facebook {
    padding: 5px 11px 5px 12px;
  }
  .events__button--tickets {
    width: 94px;
  }
  img.events__img-fb {
    margin: 0px 0px -2px 0px;
  }
  .events__description {
    width: 280px;
  }
  .events__date {
    padding: 20px 0 0 20px;
  }
  .events__adress {
    padding: 0px 0 25px 20px;
  }
  .events__date-text {
    margin: 0px 0 0 17px;
  }
  .events__adress-text {
    width: 200px;
  }
  .events__button--tickets {
    padding: 6px 20px 6px;
  }
  .events__block--3 {
    padding: 34px 0 80px 0;
  }
  .container.contaiber-other {
    width: 320px;
  }
  img.other__product-img {
    left: 10px;
    width: 290px;
  }
  .blog__item {
    width: 100%;
  }
  .blog__paragraph {
    width: 280px;
  }
  .footer__btn.footer__btn--twitter {
    right: 20px;
  }
  .footer__btn--facebook {
    left: 19px;
  }
  .footer__main-text {
    margin: 57px 0 0px -35px;
  }
  .uk {
    margin: 28px 0 0 45px;
  }
  .sw {
    margin: 28px 3px -13px 0px;
  }
  .corporate__container {
    width: 100%;
  }
  .corporate__wrapp {
    width: 320px;
    height: inherit;
    margin: 0 auto;
  }
  .other__product-sum {
    width: 290px;
  }
  .other__product-value {
    padding: 13px 55px 9px 55px;
  }
  .other__product-value.other__product-value--2 {
    padding: 13px 40px 9px 40px;
  }
  a.other__button-buy {
    padding: 12px 40px 3px 40px;
  }
  .other {
    height: 780px;
  }
  h2.rules__text-header {
    left: 70px;
  }
  li.rules__card-item {
    width: 260px;
    padding: 2px 0 10px 30px;
  }
  a.rules__download-btn {
    margin: 20px 100px 0px 11px;
  }
  li.rules__before-game-item {
    padding-left: 32px;
    width: 260px;
  }
  p.rules__about-cards-text { 
    width: 290px;
    padding: 4px 0 20px 5px;
  }
  .rules__list-item {
    padding: 1px 0px 8px 30px;
    width: 255px;
  }
  li.rules__about-cards-item {
    padding: 0px 0 0 30px;
    width: 275px;
  }
  li.rules__count-item {
    width: 260px;
  }
  p.rules__won-back-text {
    padding: 35px 0 18px 5px;
    width: 285px;
  }
  li.rules__won-back-item {
    padding: 1px 0px 8px 30px;
    width: 265px;
  }
  p.rules__else-text {
    padding: 9px 0 19px 5px;
    width: 300px;
  }
  p.rules__else-good-game {
    padding-left: 5px;
  }
  .other__bottom-white-bg {
    height: 330px;
  }




}